* {
  margin: 0;
  padding: 0;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; }

.css-imagenes, .imagenes-gato-1 img, .imagenes-gato-2 img, .imagenes-perro-1 img, .imagenes-perro-2 img, .imagenes-tortuga-1 img, .imagenes-tortuga-2 img {
  display: flex;
  margin: 10px;
  height: 250px;
  padding: 10px;
  align-content: center; }

.navegacion {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f9e1c5; }
  .navegacion img {
    height: 100px; }
  .navegacion ul {
    list-style: none;
    display: flex;
    width: 300px;
    justify-content: center; }
    .navegacion ul li {
      margin: 0 10px;
      height: 20px; }
      .navegacion ul li a {
        text-decoration: none;
        color: black; }
        .navegacion ul li a:hover {
          color: white; }

.seccion1 div {
  display: flex;
  align-items: center;
  justify-content: center; }
  .seccion1 div img {
    float: left;
    margin-right: 10px; }

.seccion1 p {
  text-align: center;
  font-size: 20px;
  color: #a9a6a6; }

.gato-texto-1 {
  display: flex;
  align-items: center; }
  .gato-texto-1 img {
    margin-right: 10px; }

.texto-principal {
  background-color: beige;
  font-size: 20px;
  text-align: center; }

.texto-secundario {
  text-align: center;
  font-size: 30px;
  color: #efc494; }

/* Estilos seccion1 */
.seccion1 {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-areas: "imagenes-gato-1" "imagenes-gato-2" "imagenes-perro-1" "imagenes-perro-2" "imagenes-tortuga-1" "imagenes-tortuga-2"; }

.imagenes-perro-1 {
  grid-area: imagenes-perro-1; }

.imagenes-perro-2 {
  grid-area: imagenes-perro-2; }

.imagenes-gato-1 {
  grid-area: imagenes-gato-1; }

.imagenes-gato-2 {
  grid-area: imagenes-gato-2; }

.imagenes-tortuga-1 {
  grid-area: imagenes-tortuga-1; }

.imagenes-tortuga-2 {
  grid-area: imagenes-tortuga-2; }

/* Estrategia Responsive = Mobile First */
@media (min-width: 671px) {
  .seccion1 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-template-areas: "imagenes-gato-1 imagenes-gato-2" "imagenes-perro-1 imagenes-perro-2" "imagenes-tortuga-1 imagenes-tortuga-2"; } }

/* Footer */
.footer {
  background-color: blanchedalmond;
  display: flex;
  justify-content: center; }

.seccion-gatos div {
  display: flex;
  align-items: center; }

.seccion-gatos {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-areas: "imagenes-gato-1" "imagenes-gato-2" "imagenes-gato-3" "imagenes-gato-4" "imagenes-gato-5"; }

.imagenes-gato-1 {
  grid-area: imagenes-gato-1; }

.imagenes-gato-2 {
  grid-area: imagenes-gato-2; }

.imagenes-gato-3 {
  grid-area: imagenes-gato-3; }

.imagenes-gato-4 {
  grid-area: imagenes-gato-4; }

.imagenes-gato-5 {
  grid-area: imagenes-gato-5; }

.imagenes-gato-3 img {
  display: flex;
  margin: 10px;
  width: 350px;
  height: 250px;
  padding: 10px; }

.imagenes-gato-4 img {
  display: flex;
  margin: 10px;
  width: 350px;
  height: 250px;
  padding: 10px; }

.imagenes-gato-5 img {
  display: flex;
  margin: 10px;
  width: 350px;
  height: 250px;
  padding: 10px; }

/* Estrategia Responsive = Mobile First */
@media (min-width: 1110px) {
  .seccion-gatos {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: "imagenes-gato-1 imagenes-gato-2 imagenes-gato-3" "imagenes-gato-1 imagenes-gato-4 imagenes-gato-5"; } }

.seccion-perros div {
  display: flex;
  align-items: center; }

.seccion-perros {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-areas: "imagenes-perro-1" "imagenes-perro-2" "imagenes-perro-3" "imagenes-perro-4" "imagenes-perro-5"; }

.imagenes-perro-1 {
  grid-area: imagenes-perro-1; }

.imagenes-perro-2 {
  grid-area: imagenes-perro-2; }

.imagenes-perro-3 {
  grid-area: imagenes-perro-3; }

.imagenes-perro-4 {
  grid-area: imagenes-perro-4; }

.imagenes-perro-5 {
  grid-area: imagenes-perro-5; }

.imagenes-perro-3 img {
  display: flex;
  margin: 10px;
  width: 350px;
  height: 250px;
  padding: 10px; }

.imagenes-perro-4 img {
  display: flex;
  margin: 10px;
  width: 350px;
  height: 250px;
  padding: 10px; }

.imagenes-perro-5 img {
  display: flex;
  margin: 10px;
  width: 350px;
  height: 250px;
  padding: 10px; }

@media (min-width: 1110px) {
  .seccion-perros {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: "imagenes-perro-1 imagenes-perro-2 imagenes-perro-3" "imagenes-perro-1 imagenes-perro-4 imagenes-perro-5"; } }

.seccion-tortugas div {
  display: flex;
  align-items: center; }

.seccion-tortugas {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-areas: "imagenes-tortuga-1" "imagenes-tortuga-2" "imagenes-tortuga-3" "imagenes-tortuga-4" "imagenes-tortuga-5"; }

.imagenes-tortuga-1 {
  grid-area: imagenes-tortuga-1; }

.imagenes-tortuga-2 {
  grid-area: imagenes-tortuga-2; }

.imagenes-tortuga-3 {
  grid-area: imagenes-tortuga-3; }

.imagenes-tortuga-4 {
  grid-area: imagenes-tortuga-4; }

.imagenes-tortuga-5 {
  grid-area: imagenes-tortuga-5; }

.imagenes-tortuga-3 img {
  display: flex;
  margin: 10px;
  width: 350px;
  height: 250px;
  padding: 10px; }

.imagenes-tortuga-4 img {
  display: flex;
  margin: 10px;
  width: 350px;
  height: 250px;
  padding: 10px; }

.imagenes-tortuga-5 img {
  display: flex;
  margin: 10px;
  width: 350px;
  height: 250px;
  padding: 10px; }

/* Estrategia Responsive = Mobile First */
@media (min-width: 1110px) {
  .seccion-tortugas {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: "imagenes-tortuga-1 imagenes-tortuga-2 imagenes-tortuga-3" "imagenes-tortuga-1 imagenes-tortuga-4 imagenes-tortuga-5"; } }
