.seccion1 {
    div {
        display: flex;
        align-items: center;
        justify-content: center;

        article {
            display: flex;
        }
    }

    p {
        text-align: center;
        font-size: 20px;
        color: rgb(169, 166, 166);
        width: 10px;
    }
}

.gato-texto-1 {
    display: flex;
    align-items: center;

    img {
        margin-right: 10px;
    }
}



.texto-principal {
    background-color: beige;
    font-size: 20px;
    text-align: center;
}

.texto-secundario {
    text-align: center;
    font-size: 30px;
    color: rgb(239, 196, 148);
}



/* Estilos seccion1 */
.seccion1 {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas:
        "imagenes-gato-1"
        "imagenes-gato-2"
        "imagenes-perro-1"
        "imagenes-perro-2"
        "imagenes-tortuga-1"
        "imagenes-tortuga-2";
}

.imagenes-perro-1 {
    grid-area: imagenes-perro-1;
}

.imagenes-perro-2 {
    grid-area: imagenes-perro-2;
}

.imagenes-gato-1 {
    grid-area: imagenes-gato-1;
}

.imagenes-gato-2 {
    grid-area: imagenes-gato-2;
}

.imagenes-tortuga-1 {
    grid-area: imagenes-tortuga-1;
}

.imagenes-tortuga-2 {
    grid-area: imagenes-tortuga-2;
}

.imagenes-gato-1 {
    img {
        @extend .css-imagenes;
    }
}


.imagenes-gato-2 {
    img {
        @extend .css-imagenes;
    }
}


.imagenes-perro-1 {
    img {
        @extend .css-imagenes;
    }
}

.imagenes-perro-2 {
    img {
        @extend .css-imagenes;
    }
}

.imagenes-tortuga-1 {
    img {
        @extend .css-imagenes;
    }
}

.imagenes-tortuga-2 {
    img {
        @extend .css-imagenes;
    }
}



/* Estrategia Responsive = Mobile First */
@media(min-width: 671px) {
    .seccion1 {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
        grid-template-areas:
            "imagenes-gato-1 imagenes-gato-2"
            "imagenes-perro-1 imagenes-perro-2"
            "imagenes-tortuga-1 imagenes-tortuga-2";
    }
}