/* ---------MAIN------------- */

.seccion1{
    h2{
        text-align: center;
    }
    div{
    display: flex;
    align-items: center;  
    }  
}


.texto-principal {
    background-color: beige;
    font-size: 20px;
    text-align: center;
}

.texto-secundario {
    text-align: center;
}



/* Estilos seccion1 */
.seccion1 {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas: 
    "imagenes-gato-1"
    "imagenes-gato-2"
    "imagenes-perro-1"
    "imagenes-perro-2"
    "imagenes-tortuga-1"
    "imagenes-tortuga-2";
}

.imagenes-perro-1 {
    grid-area: imagenes-perro-1;
}

.imagenes-perro-2 {
    grid-area: imagenes-perro-2;
}

.imagenes-gato-1 {
    grid-area: imagenes-gato-1;
}

.imagenes-gato-2 {
    grid-area: imagenes-gato-2;
}

.imagenes-tortuga-1 {
    grid-area: imagenes-tortuga-1;
}

.imagenes-tortuga-2 {
    grid-area: imagenes-tortuga-2;
}

.imagenes-gato-1 {
    img{
        display: flex;
        margin: 10px;
        width: 350px;
        height: 250px;
        padding: 10px;
        align-content: center;
    }
}


.imagenes-gato-2 {
    img{
        display: flex;
        margin: 10px;
        width: 350px;
        height: 250px;
        padding: 10px;
    }
}


.imagenes-perro-1 {
    img{
        display: flex;
        margin: 10px;
        width: 350px;
        height: 250px;
        padding: 10px;
    }
}

.imagenes-perro-2 {
    img{
        display: flex;
        margin: 10px;
        width: 350px;
        height: 250px;
        padding: 10px;
    }
}

.imagenes-tortuga-1 {
    img{
        display: flex;
        margin: 10px;
        width: 350px;
        height: 250px;
        padding: 10px;
    }
}

.imagenes-tortuga-2 {
    img{
        display: flex;
        margin: 10px;
        width: 350px;
        height: 250px;
        padding: 10px;
    }
}



/* Estrategia Responsive = Mobile First */
@media(min-width: 671px) {
    .seccion1 {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
        grid-template-areas:
            "imagenes-gato-1 imagenes-gato-2"
            "imagenes-perro-1 imagenes-perro-2"
            "imagenes-tortuga-1 imagenes-tortuga-2";
    }
}