.seccion-gatos {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas:
        "imagenes-gato-1"
        "imagenes-gato-2"
        "imagenes-gato-3"
        "imagenes-gato-4"
        "imagenes-gato-5";
    div {
        display: flex;
        align-items: center;
    }
    p {
        text-align: center;
        font-size: 20px;
        color: rgb(169, 166, 166);
    }
}

.imagenes-gato-1 {
    grid-area: imagenes-gato-1;
}

.imagenes-gato-2 {
    grid-area: imagenes-gato-2;
}

.imagenes-gato-3 {
    grid-area: imagenes-gato-3;
}

.imagenes-gato-4 {
    grid-area: imagenes-gato-4;
}

.imagenes-gato-5 {
    grid-area: imagenes-gato-5;
}


.imagenes-gato-3{
    img {
        @extend .css-imagenes;
    }
}

.imagenes-gato-4{
    img {
        @extend .css-imagenes;
    }
}

.imagenes-gato-5{
    img {
        @extend .css-imagenes;
    }
}

.cuidado{
    img{
        width: 500px;
        height: 300px;
    }
}


/* Estrategia Responsive = Mobile First */

@media(min-width: 1110px) {
    .seccion-gatos {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        grid-template-areas:
            "imagenes-gato-1 imagenes-gato-2 imagenes-gato-3"
            "imagenes-gato-1 imagenes-gato-4 imagenes-gato-5";
    }
}